body {
  margin-top: 30px;
  margin-right: 200px;
  margin-bottom: 20px;
  margin-left: 200px;
}

.delicious {
  font-family: 'Yellowtail', cursive;
}

.teko{
  font-family: 'Teko', sans-serif;
}

.icons {
  display: inline;
  position: relative;
  left: 779px;

}

.dashes {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.directions {
  text-indent: 50px;
}


.small-logo {
  position: relative;
  left: 455px;
  text-align: center;
}

.lines {
  width: 40%;
}

.linesandlogo {
  display: inline;
}

.copyright {
  width: 100%;
  color: gray;
  font-size: 1em;
  text-align: center;
  bottom: 0;
}
